#not-found {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  scale: 0;
  opacity: 0;
  display: none;
  transition: all 0.5s;
}

#not-found img {
  width: 70%;
}

#not-found p {
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}

#not-found.visible {
  display: block !important;
  scale: 1 !important;
  opacity: 1 !important;
}
